:root {
    --bgColor:#f6b606;
    --circleColor:#363636;
    --secondColor:#82c452;
    --firdColor:#df5252;
}

@font-face {
    font-family: Publica_bold;
    src: url("../Font/PublicaSans-Bold.otf");
}

@font-face {
    font-family: Publica_light;
    src: url("../Font/PublicaSans-Light.otf");
}

body{
    
    overflow: hidden;
    background-color: var(--bgColor);
    max-height: 100vh;
    font-family:'Publica_light';
    font-size: 18px;
}

nav{
    
    width: 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3{
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px 50px;
}

.row{
    display: flex;

}

.col{
    flex: 1;
}

.col h1{
    font-size: 90px;
    margin-bottom: 100px;
}

.col p{
    margin-bottom: 100px;
}

input{
    
    background: none;
    border: none;
    border-radius: 30px;
}

.mail{
    padding: 20px 50px;
    width: 350px;
    background-color: var(--secondColor);
    font-size: 20px;
}

/* .mail:{
    border: none;
} */

.btn{
    margin-left: -150px;
    padding: 20px 5px;
    background-color: var(--firdColor);
    width: 150px;
    font-size: 20px;
}

.circle {
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background-color: var(--circleColor);
    margin: 20px 0 0 -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.circle img{
    width: 350px;
}